/ArrayApp.class
/AuthApp.class
/AuthApp2.class
/AuthApp3.class
/AuthApp4.class
/BooleanApp.class
/ComparisonOperatorApp.class
/EqualsApp.class
/IfApp.class
/LogicalOperatorApp.class
/LoopApp.class
/LoopArray.class
